<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title th:text="${userAdd.id == null} ? 'Add User' : 'Edit User'">User Form</title>
</head>
<body>
<h2 th:text="${userAdd.id == null} ? 'Add New User' : 'Edit User'">User Form</h2>

<form th:action="@{/saveUser}" th:object="${userAdd}" method="post">

    <input type="hidden" th:field="*{id}">

    <label>Name:</label>
    <input type="text" th:field="*{name}" required><br><br>

    <label>Age:</label>
    <input type="number" th:field="*{age}" required><br><br>

    <label>Gender:</label>
    <select th:field="*{gender}">
        <option value="">Select Gender</option>
        <option value="Men">Men</option>
        <option value="Women">Women</option>
    </select><br><br>

    <label>Work:</label>
    <input type="text" th:field="*{work}" required><br><br>

    <button type="submit">
        <span th:text="${userAdd.id == null} ? 'Add User' : 'Update User'">Save</span>
    </button>
</form>
<br>
<a th:href="@{/}">
    <button>Back to List</button>
</a>
</body>
</html>